.gift-up-target {
  margin-top: 50px;
  margin-bottom: 50px;
}

#gift-card .title {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  #gift-card .title {
    padding-top: 0;
    padding-bottom: 0;
  }
}