.about-title {
  text-align: center;
  color: #cea6dd;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 40px;
  line-height: .9em;
  margin-bottom: 40px;
  padding-top: 40px;
}

b {
  font-weight: 900;
}

/* our mission */

#our-mission {
  padding: 0 20%;
}

#our-mission p {
  line-height: 1.6em;
}

@media only screen and (max-width: 500px) {
  #our-mission {
    padding: 0 10%;
  }

  .about-title {
    font-size: 30px;
  }
}

/* founder */

#founder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#founder img {
  display: block;
  width: 325px;
  height: 100%;
}

#founder-content {
  min-width: 30%;
  max-width: 50%;
  flex-grow: 1;
}

#founder-content h3 {
  font-size: 1.1em;
}

@media only screen and (max-width: 700px) {
  #founder {
    justify-content: center;
  }

  #founder img {
    width: 250px;
  }

  #founder-content {
    min-width: 85%;
    margin-top: 30px;
  }

  #founder-content h3 {
    text-align: center;
  }
}

/* team bios */

#team-select {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#team-select h5 {
  color: gray;
  margin-bottom: 5px;
}

#team-wrapper {
  background-color: #f8f8f8;
  margin-top: 100px;
  padding-bottom: 60px;
}

#team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card-wrapper {
  width: 400px;
  height: 360px;
  position: relative;
  margin: 40px 20px;
  cursor: pointer;
  overflow: hidden;
}

.team-card-wrapper img {
  height: 70%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-card-tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  color: #4a4a4a;
}

.team-card-tag h3 {
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.team-card-tag h4 {
  font-weight: 300;
  margin: 0;
  color: #878787;
}

.team-card-tag.onHover h3,
.team-card-tag.onHover h4 {
  color: white;
}

.team-card-tag.onHover p {
  color: white;
  margin-top: 30px; 
  overflow: hidden;
}

.team-card-bio {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 360px;
  left: 0;
  overflow: hidden;
  padding: 10%;
  transition: 0.3s all;
}

.team-card-bio.bio-show {
  top: 0;
}

.team-card-bio p {
  color: white;
  font-weight: 400;
}

@media only screen and (max-width: 400px) {
  .team-card-wrapper {
    width: 100vw;
    height: calc(.95 * 100vw);
    margin-left: 0;
    margin-right: 0;
  }  

  .team-card-bio {
    top: calc(.95 * 100vw);
  }
}