
#booking-form,
#subscribe-dialog {
  height: 90vh;
  overflow-y: scroll; 
  max-height: 430px;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 10000;
  transform: translate(-50%,-50%);
  display: none;
}

#booking-request-page {
  width: 100%;
  max-width: 550px;
  margin: 90px auto 40px auto;
}

#booking-form {
  max-height: 500px;
  overflow-y: scroll;
}

#booking-form.display,
#subscribe-dialog.display {
  display: block;
}

#booking-form-header,
#subscribe-dialog-header {
  height: 50px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.15);
  position: relative;
}

#booking-form-header h5,
#subscribe-dialog-header h5 {
  margin-top: 0;
  text-align: center;
  padding-top: 20px;
  color: rgba(0,0,0,.35);
}

#subscribe-dialog-body {
  padding: 40px;
  box-sizing: border-box;
}

#booking-form-body {
  padding: 40px 60px;
  box-sizing: border-box;
}

.subscribe-form-input {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
}

.subscribe-form-button {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-top: 20px;
}

.subscribe-form-button button {
  height: 50px !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 550px) {
  #subscribe-dialog {
    width: 350px;
  }
  #subscribe-dialog-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subscribe-form-button button {
    font-size: 13px !important;
  }
}

/* Check box */

.check-box-line-heading,
.check-box-line-one,
.check-box-line-two,
.check-box-line-three {
  display: flex;
}

.check-box-line-heading h5,
.check-box-line-one h5,
.check-box-line-two h5,
.check-box-line-three h5 {
  width: 80px;
  margin-bottom: 0;
  padding-top: 15px;
}

.check-box-line-heading h4 {
  width: 40px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  #booking-form-body {
    padding: 40px 15px;
  }

  .check-box-line-heading h5,
  .check-box-line-one h5,
  .check-box-line-two h5,
  .check-box-line-three h5  {
    width: 50px;
    font-size: 11px;
  }
}