#booking-form,
#subscribe-dialog {
  max-height: 430px;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 100;
  transform: translate(-50%,-50%);
  display: none;
}

button.book-button.button-outline,
button.subscribe-button.button-outline {
  margin: auto;
  margin-top: 15px;
  display: block;
}

#booking-form {
  height: 90vh;
}

#booking-form {
  overflow-y: scroll;
}

#booking-request-page {
  width: 100%;
  max-width: 550px;
  margin: 90px auto 40px auto;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.15);
}

#booking-form {
  max-height: 700px;
  overflow-y: scroll;
}

#booking-form.display,
#subscribe-dialog.display {
  display: block;
}

#booking-form-header,
#subscribe-dialog-header {
  height: 50px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.15);
  position: relative;
}

#booking-form-header h5,
#subscribe-dialog-header h5 {
  margin-top: 0;
  text-align: center;
  padding-top: 20px;
  color: rgba(0,0,0,.35);
}

#subscribe-dialog-body {
  padding: 40px;
  box-sizing: border-box;
}

#booking-form-body {
  padding: 0 60px 40px 60px;
  box-sizing: border-box;
}

#booking-form-body p {
  font-weight: 500;
  margin-bottom: 0;
}

.MuiFormControl-root.MuiTextField-root.date-selector {
  margin-top: 10px;
}

.subscribe-form-input {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
}


@media only screen and (max-width: 550px) {
  #subscribe-dialog {
    width: 350px;
  }
  #subscribe-dialog-body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  #booking-form-body {
    padding: 0 15px 40px 15px;
  }

  #booking-form {
    height: 100%;
    max-height: 100%;
  }

  #booking-request-page {
    box-shadow: none;
  }
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  width: 100%;
}

.massage-select {
  margin-bottom: 30px;
  margin-top: 30px;
}

.massage-select .MuiInputBase-root.MuiInput-root.MuiInput-underline {
  margin-top: 10px;
}