#home-first-image {
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#home-first-image-content {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#home-first-image-content h1 {
  color: white;
  font-family: 'galano-semibold', sans-serif;
  text-align: center;
  line-height: 1.1em;
  z-index: 1;
  font-size: 3em;
}

.location {
  width: 500px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-select {
  background-color: white;
  border-radius: 15px;
  width: 300px;
  position: relative;
  height: 50px;
  padding: 3px;
}

#location-select .ui.selection.active.dropdown {
  box-shadow: none;
}

#location-select .ui.selection.active.dropdown .menu {
  border-color: var(--color-pink);
}

#select-location-button {
  margin-left: 10px;
  background-color: var(--color-pink);
  color: white;
  font-family: 'galano-bold', sans-serif;
  font-size: 14px;
  letter-spacing: .12em;
  padding: 0 40px;
}

#select-location-button:hover {
  background-color: var(--color-accent);
}

@media only screen and (max-width: 750px) {
  #home-first-image-content h1 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 605px) {
  #home-first-image-content h1 {
    font-size: 2em;
  }

  #home-first-image-content {
    width: 90%;
  }

  .location {
    width: 420px;
  }
}

@media only screen and (max-width: 460px) {
  .location {
    width: 340px;
  }

  #location-select {
    width: 240px;
  }

  #home-first-image {
    height: 550px;
    background-attachment: initial;
  }
}

.title {
  color: var(--color-pink2);
  font-family: 'galano-bold', sans-serif;
  text-align: center;
  font-size: 2.5em;
  line-height: .9em;
  padding-bottom: 30px;
  padding-top: 50px;
  margin-top: 0;
}

@media only screen and (max-width: 620px) {
  .title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 25px;
    padding-top: 80px;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: auto;
  margin-bottom: 30px;
}

/* How it works */
#how-it-works {
  padding: 40px 5% 0 5%;
}

.how-it-works-card {
  min-width: 210px;
  max-width: 300px;
  margin: 30px 10px;
}

.how-it-works-card img {
  width: 40%;
  height: auto;
  margin: 20px auto;
  display: block;
}

.how-it-works-card h2,
.how-it-works-card p {
  text-align: center;
}

.how-it-works-card h2 {
  font-family: 'galano-semibold', sans-serif;
  text-transform: lowercase;
  color: var(--color-lightGray);
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin-top: 0;
}

.how-it-works-card p {
  margin-bottom: 5px;
  font-size: 15px;
}

.how-it-works-card b {
  font-weight: 600;
}

@media only screen and (max-width: 725px) {
  .how-it-works-card {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .how-it-works-card img {
    min-width: 100px;
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .how-it-works-card h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

/* MamaType */

.mama-type {
  padding: 0 7%;
}

.mama-type h5 {
  font-family: 'galano-semibold', sans-serif;
  text-align: center;
  margin-top: 30px;
  color: #454545;
}

/* type cards  */

#type-card-wrapper {
  padding: 70px 5% 0 5%;
}

.type-card {
  width: 225px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.type-card img {
  width: 100%;
  height: auto;
}

.type-card-description {
  position: absolute;
  top: 380px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px; 
  border-radius: 15px;
  background-color: var(--color-pink);
  transition: 0.5s all;
}

.type-card-description.show-description {
  transition: 0.5s all;
  top: 0;
}

.type-card-description p {
  font-family: 'galano-semibold';
}

.type-card-button {
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.type-card-button button {
  border-radius: 0 !important;
}

.type-card-button h3 {
  font-size: 12px !important;
}

.type-card h2 {
  font-family: 'Bilbo', sans-serif;
  font-size: 20px;
  letter-spacing: .22em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.type-card-paragraph {
  height: 85%;
}

.type-card p {
  font-size: 14px;
  letter-spacing: .03em;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .mama-type {
    padding: 0;
  }
}
/* price cards */

#prices {
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
}

#price-card-wrapper {
  margin-bottom: 20px;
  padding: 20px 10%;
}

h4.pricing-insurance {
  margin: 0;
  color: var(--color-pink1);
  font-size: 17px;
  margin-bottom: 3px;
}

h5.pricing-footer {
  margin: 0;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.price-card {
  width: 50%;
  height: 120px;
  position: relative;
}

.price-card-divider {
  position: absolute;
  height: 50%;
  top: 30px;
  left: 0;
  border-right: 3px solid var(--color-pink);
}

.price-card h2 {
  color: #4a4a4a;
  font-family: 'galano-bold', sans-serif;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.price-card p {
  text-align: center;
  letter-spacing: .18em;
  color: gray;
  font-size: 20px;
  margin-bottom: 5px;
}

.price-card h4 {
  text-align: center;
  color: #5a5a5a;
  font-family: 'galano-reg', sans-serif;
  letter-spacing: .18em;
  font-size: 20px;
  margin-top: 0;
}

@media only screen and (max-width: 620px) {
  .price-card h2 {
    font-size: 26px;
  }
  
  .price-card p {
    font-size: 14px;
  }
  
  .price-card h4 {
    font-size: 16px;
  }

  .price-card {
    height: 80px;
  }

  #prices {
    margin-bottom: 60px;
    margin-top: 0;
  }

  #price-card-wrapper {
    padding-top: 0;
  }
}

@media only screen and (max-width: 450px) {
  h4.pricing-insurance {
    font-size: 14px;
    margin-top: 40px;
  }

  h5.pricing-footer {
    font-size: 12px;
  }
  
  .price-card h2 {
    font-size: 18px;
  }
  
  .price-card p {
    font-size: 12px;
  }
  
  .price-card h4 {
    font-size: 14px;
  }

  .price-card {
    height: 40px;
  }
}

/* visit our blog */

#visit-blog {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* give gift certificate */

#give-gift-certificate {
  margin: 100px auto 20px auto;
  width: 100vw;
  max-width: 620px;
}

#give-gift-certificate img {
  display: block;
  width: 100%;
  margin: 40px auto;
}

#give-gift-certificate-button {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 25px;
    padding-top: 80px;
  }
}

/* seen on */

#seen-on {
  padding: 10px 5%;
  background-color: #f6f6f6;
}

#seen-on img {
  width: 80px;
  vertical-align: middle;
  margin-left: calc((100% - 450px) / 10);
  margin-right: calc((100% - 450px) / 10);
}

@media only screen and (max-width: 450px) {
  #seen-on img {
    width: 60px !important;
    margin-left: calc((100% - 230px) / 10);
    margin-right: calc((100% - 230px) / 10);
  }

  #seen-on img:first-child,
  #seen-on img:last-child {
    width: 40px !important;
  }

  #seen-on img:nth-last-child(2) {
    width: 30px !important;
  }
}

/* upcoming events */

#upcoming-events {
  margin-top: 100px;
}

#upcoming-events h2 {
  width: 80%;
  /* max-width: 700px; */
  background-color: var(--color-pink);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 15px 0;
}

#upcoming-events img {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#upcoming-events-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#upcoming-events-content h4 {
  font-size: 20px;
  text-align: center;
}

#upcoming-events-content p 
#upcoming-events-content li {
  font-size: 15px;
}

h1.testimonial-title {
  margin-top: 20px;
}