#career .title {
  margin-top: 80px;
}

#career img {
  margin-top: 100px; 
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#career h2 {
  text-align: center;
  color: #cea6dd;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  width: 75%;
  min-width: 200px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 50px;
}

.career-contact-form#contact-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
}
