#header {
  max-width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  background-color: white;
}

#logo {
  float: left;
  width: 145px;
}

#logo img {
  max-width: 100%;
  height: auto;
}

#nav {
  margin-top: 7px;
  margin-right: 20px;
  text-align: center;
  float: right;
}

#nav a,
#nav form {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #c68bbdb3;
  padding-top: 8px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .18em;
}

#nav a:hover,
#nav a:active {
  color: #C68BBD;
}

#mobile-nav button {
  float: right;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

#nav-side-list {
  width: 280px;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  text-align: center;
}

#nav-side-list-logo {
  margin-top: 20px;
}

#social-media {
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 100;
}

#social-media a {
  display: block;
  margin-bottom: 5px;
}

#mobile-nav-social {
  display: inline-block;
  margin-top: 20px;
  float: left;
}

#mobile-nav-social a {
  display: inline-block;
}