#footer {
  margin-top: 100px;
}

#mobile-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 20px;
  background: linear-gradient(245deg, #ffc0cb, white, #c0fff4);
  animation: Gradient 16s ease infinite;
  background-size: 600% 600%;
}

#mobile-footer a {
  margin-top: 10px; 
}

#footer-logo {
  font-size: 1.5em;
  color: var(--color-pink1);
  margin: 30px 0;
}

#footer-logo:hover {
  color: var(--color-accent);
}

#mobile-footer p {
  padding-top: 15px;
}

.footer-contact-info a {
  display: inline-block;
}

@keyframes Gradient
{
  0%  { 
    background-position: 0% 50%;
  }
  50% { 
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#footer-content {
  display: flex;
  flex-direction: row;
  margin: 150px auto 100px auto;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}

#footer-content-contact {
  width: 260px;
}

#footer-content-company {
  width: 130px;
}

#footer-content-logo {
  margin-top: -100px;
}

#footer-content-logo-icons {
  margin: -50px auto 0 auto;
  width: 100px;
}

#footer a {
  line-height: 2em;
}

#footer-content-company a {
  display: block;
}

#footer h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(100, 100, 100, 0.8);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
}

/* finale */

